body {
    background-color: #caddef;
    font-family: monospace;
    margin: auto;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}


h1 {
    font-size: 48px;
}

#mainPanel {
    background-color: aliceblue;
    width: 750px;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 2px 2px lightslategray;
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;     /* vertical */
}
.info {
    display: flex;
    gap: 100px;
}

#questionScreen {
    background-color: #dfeafc;
    min-width: 650px;
    min-height: 200px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#questionNo {
    font-size: 20px;
}
#question {
    font-size: 32px;
}
#result {
    font-size: 24px;
    color: lightslategray;
}


.choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    margin: auto;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.answerBtn {
    width: 350px;
    height: 100px;
    background-color: #dfeafc;
    border: #caddef;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
}
.answerBtn:hover {
    transform: translateY(2px);
    box-shadow: 2px 2px lightslategray;
}
.answerBtn:active {
    transform: translateY(4px);
    background-color: rgb(175, 199, 224);
}


#start {
    margin: auto;
    min-width: 75px;
    min-height: 35px;

    background-color: #dfeafc;
    border: #caddef;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;

    font-family: monospace;
}
#start:hover {
    transform: translateY(2px);
    box-shadow: 2px 2px lightslategray;
}
#start:active {
    transform: translateY(4px);
    background-color: rgb(175, 199, 224);
}